body{
  background-color: #f2bd76
}
h1{
  font-size: 100px;font-family: cursive;
  }
h2{

  font-size: 70px; color:
  font-size: 70px; color:  pink
}
p{
  font-size: 30px
}
h3{
  font-size: 40px; color: pink
}
