body{
  background-color: #ffc4d5
}
h1{
  font-size: 100px;font-family: inherit; color: #571b3c
  }
h2{

  font-size: 70px; color:
  font-size: 70px; color: #762e4a
}
p{
  font-size: 30px
}
h3{
  font-size: 40px; color: #984d69
}
img{
  width: 50%
}
img{
  width: 40%
}
ol{
  font-size: 30px
}
