body{
  background-color: #ffc4d5;
  border: 40px ridge #F08080;
}
.logoba{
  width: 17%;
  margin-left: 5%;
}
header{
  background-color: #FFF9F2
}
nav li{
  display: inline;
  padding-left: 5%;
  text-transform: uppercase;
}
nav{
  position: relative;
  bottom: 115px;
  left: 700px;
}
h1{
  font-size: 100px;font-family: inherit; color: #571b3c; text-align: center;
  border: 5px dotted #F08080;
  }
h2{
  font-size: 70px; color: #762e4a
}
p{
  font-size: 30px
}
h3{
  font-size: 40px; color: #984d69
}
img{
  width: 50%
}
img{
  width: 40%
}
ol{
  font-size: 30px
}
}
img
